
        body {
            min-height: 100vh;
            min-width: 100vw;
            overflow: hidden;
            background-color: #035151;
            background-image: linear-gradient(0, #035151 0%, #007b7b 100%);
            color: white;
            font-family: "Open sans", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        }

        .marca {
            position: fixed;
            left: 50%;
            top: 50%;
            margin-left: -120px;
            margin-top: -170px;
            display: inline-block;
            width: 240px;
            height: 280px;
            color: white;
            text-align: center;
            text-decoration: none;
        }


        .marca .logo {
            display: inline-block;
            animation: entradaLogo 5s ease-in-out;
            animation-iteration-count: 1;
        }

        .marca .logo img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }

        .marca .titulo {
            display: inline-block;
            font-size: 2em;
            font-weight: 600;
            text-shadow: 0 .125em .25em rgba(0, 0, 0, .25);
            animation: entradaTitulo 5s ease-in-out;
            animation-iteration-count: 1;
        }

        @keyframes entradaLogo {

            0%,
            20% {
                opacity: 0;
                transform: translateY(10%);
            }

            60% {
                transform: translateY(0);
            }

            100% {
                opacity: 1;
            }

        }

        @keyframes entradaTitulo {

            0%,
            40% {
                opacity: 0;
                transform: translateY(-30%);
            }

            80% {
                transform: translateY(0%);
            }

            100% {
                opacity: 1;
            }

        }